html {
  height: inherit;
  background-color: black;
  color: white;
}
body {
  opacity: 0.8;
  background-color: aliceblue;
  color: dimgray;
}
#clock0 div#twd {
  color: dimgray;
}
#favs,iframe {
  opacity: 0.4;
}