* { overflow: hidden; }
html, body {
  color: #222;
  background-color: #666;
  height: 100vh;
  margin: 0;
}
.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
  right: 4vw;
  top: 3vh;
}
.content {
  text-align: center;
}
.title {
  font-size: 6vw;
  letter-spacing: .3vw;
}
.links > a {
  color: #222;
  padding: 0 1vw;
  font-size: 3vw;
  letter-spacing: .3vw;
  text-decoration: none;
  text-transform: uppercase;
}
.m-b-md {
  height: 12vh;
}
.anim-bound {
  -webkit-animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.67, 1.51);
  animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.67, 1.51);
}
@-webkit-keyframes bounce-text {
  60% {
    font-size: 7vw;
  }
  100% {
    font-size: 7vw;
  }
}
@keyframes bounce-text {
  60% {
    font-size: 7vw;
  }
  100% {
    font-size: 7vw;
  }
}
